<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- Back To Landing Page -->
    <ion-buttons slot="start">
      <ion-back-button default-href="" text="" icon="arrow-back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content id="verification" fullscreen>
  <div class="section_one ion-padding std-from">
    <h4>Enter Verification Code</h4>
    <p>Enter the verification code we just send you on your phone number</p>
  </div>

  <div class="section_two ion-padding std-from">

    <!-- <img class="ion-padding" src="assets/images/otp.jpg" /> -->

    <!-- Enter Verification Code -->
      <ion-list lines="none">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input [(ngModel)]="one" ngDefaultControl placeholder="" maxlength="1" #text1 (keyup)="clickEvent('text1', text1)" text-center></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input [(ngModel)]="two" ngDefaultControl placeholder="" maxlength="1" #text2 (keyup)="clickEvent('text2', text2)" text-center></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input [(ngModel)]="three" ngDefaultControl placeholder="" maxlength="1" #text3 (keyup)="clickEvent('text3', text3)" text-center></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input [(ngModel)]="four" ngDefaultControl placeholder="" maxlength="1" #text4 text-center></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Resend Varification Code Option Button -->
      <ion-list-header class="link ion-text-center" routerLink="/login">
        <ion-label>If you dont receive the code ? <span (click)="sendOtp()">Resend</span></ion-label>
      </ion-list-header>

      <ion-button expand="block" (click)="verify()">Verify</ion-button>
    </ion-list>

    <!-- <ion-button fill="clear" >
      <span>If you dont receive the code ?</span>
      <ion-text color="color1" (click)="sendOtp()"><strong>RESEND</strong></ion-text>
    </ion-button> -->

  </div>
</ion-content>

