<!-- Contents -->
<ion-content class="landing-page" fullscreen>
  <div class="section_one center">
    <h2>Create Password</h2>
    <p>Create your new password to login.</p>
  </div>

  <!-- SignIn Form -->
  <form class="std-from">
    <ion-list lines="none">
      <!-- Password -->
      <ion-list-header>
        <ion-label>Password<sup>*</sup></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" placeholder="Password" name="password"></ion-input>
      </ion-item>

      <!-- Confirm Password -->
      <ion-list-header>
        <ion-label>Confirm Password<sup>*</sup></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input [(ngModel)]="confirm_password" type="password" placeholder="Confirm Password" name="confirm_password"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="submit()">
        <ion-text><strong>Submit</strong></ion-text>
      </ion-button>

    </ion-list>
  </form>

</ion-content>
