ion-button {
    margin-top: 20px;
}
.center {
    text-align: center;
}
.landing-page {

    .section_one {
        height: 15%;
        margin-top: 80px;

        h2 {
            font-weight: 900;
            padding-top: 5%;
        }

        p {
            color: var(--ion-color-color1);
            font-weight: bold;
        }
    }

    .section_two {
        height: 30%;
    }

    .section_three {
        height: 55%;
        padding: 10px;

        p {
            font-size: 1rem;
            color: #6d6b6b;
        }
    }

    a.btn-social,
    .btn-social {
        border-radius: 50%;
        color: #ffffff !important;
        display: inline-block;
        height: 54px;
        line-height: 54px;
        margin: 8px 4px;
        text-align: center;
        text-decoration: none;
        transition: background-color .3s;
        width: 54px;
    }

    .btn-facebook {
        background-color: #3b5998;
    }

    .btn-google-plus {
        background-color: #dd4b39;
    }

    .btn-instagram {
        background-color: #3f729b;
    }

    .btn-twitter {
        background-color: #55acee;
    }

}