<!-- Header -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <!-- Menu Option -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- Title of the app -->
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div class="field-content top-space">
    <form class="ion-padding std-from" [formGroup]="ChangeForm">
      <ion-list lines="none">

          <!-- Current Password -->
          <ion-list-header>
            <ion-label>Current Password<sup>*</sup></ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-input type="password" placeholder="Current Password" name="current_password" formControlName="current_password"></ion-input>
          </ion-item>

          <!-- New Password -->
          <ion-list-header>
            <ion-label>New Password<sup>*</sup></ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-input type="password" placeholder="New Password" name="new_password" formControlName="new_password"></ion-input>
          </ion-item>

          <!-- New Confirm Password -->
          <ion-list-header>
            <ion-label>Confirm Password<sup>*</sup></ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-input type="password" placeholder="New Confirm Password" name="new_confirm_password" formControlName="new_confirm_password"></ion-input>
          </ion-item>

      </ion-list>
    </form>
  </div>

</ion-content>

<ion-footer>
  <div class="std-from">
    <ion-list lines="none">
      <ion-button expand="block" (click)="change()"> Update <i class="flaticon-right-arrow"></i> </ion-button>
    </ion-list>
  </div>
</ion-footer>