#category {
    ion-list {
        margin-bottom: 0px !important;
    }

    .item {
        ion-thumbnail {
            width: 140px;
            height: 90px;

            img {
                width: 140px;
                height: 90px;
                border-radius: 5px;
            }
        }

        h2 {
            font-size: 1.5rem;
        }
    }
}

.section_one {
    text-align: center;
    height: 10%;

    h2 {
        font-weight: 900;
        //padding-top: 2%;
        margin-top: 0px;

    }

    h3 {
    
        //padding-top: 1%;
        font-size: 20px;
        color: var(--ion-color-color1);
        font-weight: bold;

    }

    p {
        //color: var(--ion-color-color1);
        font-weight: bold;
    }
    
}
