<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="" text="" icon="arrow-back" routerDirection="root">
      </ion-back-button>
    </ion-buttons>
    <!-- Page tile -->
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main Contents -->
<ion-content class="ion-padding">

  <div class="notfound" *ngIf="!notificationsData.length">No Record Found!</div>

  <ion-list *ngFor="let item of notificationsData; let i = index;">
    <ion-item *ngIf="item.gift_card_created=='' || item.gift_card_created==null">
      <div>
        <ion-label>School : {{ item.sender_school }} </ion-label>
        <ion-label>Grade : {{ item.sender_grade }} </ion-label>
        <ion-label>Message: ********</ion-label>
        <ion-row>
          <ion-col size="4"><ion-label>Rating:</ion-label></ion-col>
          <ion-col size="8">
            <ngx-rating [(ngModel)]="item.u_rating"></ngx-rating>
          </ion-col>
        </ion-row>
        <ion-label text-right (click)="payGiftCard(item)"><a href="javascript:void(0);">Unmask Message</a></ion-label>
      </div>
    </ion-item>
    <ion-item *ngIf="item.gift_card_created=='yes'">
      <div>
        <ion-label>Child : {{ item.child_name }}</ion-label>
        <ion-label (click)="showMessage(item.message)">Message: {{ item.message }}</ion-label>
        
        <ion-label *ngIf="item.rating">Review: {{ item.rating }}</ion-label>
        <ion-label *ngIf="item.rating_message">Review Message: {{ item.rating_message }}</ion-label>
        <ion-button (click)="openReview(item.id)" *ngIf="item.rating==null || item.rating==''">Review</ion-button>

      </div>
    </ion-item>
  </ion-list>
</ion-content>
