<ion-content class="ion-no-padding auth-page" fullscreen>

  <div class="header">
    <h2>
      Campus Anonymous!</h2>
    <h3>Register</h3>
  </div>

  <div class="std-from">
    <ion-list lines="none">
      <ion-list-header>
        Sign in to help a friend and collect your reward
      </ion-list-header>

      <!-- <ion-list-header>
        <ion-label>Register As<sup>*</sup></ion-label>
      </ion-list-header> -->
      <ion-item>
        <ion-select [(ngModel)]="type">
          <ion-select-option value="parent">Family</ion-select-option>
          <ion-select-option value="child">Student</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- <ion-list-header>
        <ion-label>Name<sup>*</sup></ion-label>
      </ion-list-header> -->
      <ion-item>
        <ion-input type="text" [(ngModel)]="name" placeholder="Name" name="name"></ion-input>
      </ion-item>

      <!-- <ion-list-header>
        <ion-label>Mobile<sup>*</sup></ion-label>
      </ion-list-header> -->
      <ion-item>
        <ion-input type="text" [(ngModel)]="mobile" placeholder="Mobile Number" name="mobile"></ion-input>
      </ion-item>

      <!-- <ion-list-header>
        <ion-label>Email<sup>*</sup></ion-label>
      </ion-list-header> -->
      <ion-item>
        <ion-input type="email" [(ngModel)]="email" placeholder="Email" name="email"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="submit()">Submit</ion-button>

      <ion-list-header class="link ion-text-center" routerLink="/login">
        <ion-label>Already have an account? <span>Login</span></ion-label>
      </ion-list-header>

      <ion-list-header routerLink="/how-it-works" class="link ion-text-center">
        <ion-label><span>How It Works?</span></ion-label>
      </ion-list-header>

    </ion-list>
  </div>
</ion-content>
