<!-- Header -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <!-- Menu Option -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Title of the app -->
    <ion-title>Register Your Student</ion-title>

    <!-- Cart Button Option -->
    <!-- <ion-buttons slot="end">
      <ion-button color="white" (click)="gotoCartPage()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content  class="ion-padding std-from" id="home" fullscreen>

  <ion-list lines="none">

    <ion-item class="">
      <ion-input type="text" placeholder="Name" name="name" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-input type="number" placeholder="Phone" name="phone" [(ngModel)]="phone"></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-input type="text" placeholder="School" name="school" [(ngModel)]="school"></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-input type="text" placeholder="Grade" name="grade" [(ngModel)]="grade"></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-input type="text" placeholder="Country" name="country" [(ngModel)]="country"></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-input type="text" placeholder="State" name="state" [(ngModel)]="state"></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-input type="text" placeholder="City" name="city" [(ngModel)]="city"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="submit()">Submit</ion-button>

    <br><br>
  </ion-list>

</ion-content>

