
<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar>

    <!-- Side Menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Page title -->
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content id="account" class="ion-padding">

  <!-- User/Profile Infos -->
  <ion-item lines="none">
    <!-- Avatar/Image of User -->
    <ion-avatar slot="end">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>

    <!-- Name of User -->
    <ion-label>
      <h2>Alessia McKenzie</h2>
      <p>Silver Member</p>
    </ion-label>
  </ion-item>

  <!-- Some Menu Options -->
  <ion-card>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-icon name="heart" style="zoom:1.5;"></ion-icon><br />
          <ion-text>Wish List</ion-text>
        </ion-col>
        <ion-col>
          <ion-icon name="checkbox-outline" style="zoom:1.5;"></ion-icon><br />
          Orders
        </ion-col>
        <ion-col>
          <ion-icon name="cart" style="zoom:1.5;"></ion-icon><br />
          Cart
        </ion-col>
        <ion-col>
          <ion-icon name="gift" style="zoom:1.5;"></ion-icon><br />
          Deals
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- Some Orders Option -->
  <ion-card>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Orders</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Unpaid</ion-label>
        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>To be shipped</ion-label>
        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Shipped</ion-label>
        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>To be reviewed</ion-label>
        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>In dispute</ion-label>
        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
      </ion-item>
    </ion-item-group>
  </ion-card>

  <ion-card>
    <ion-item-group>
      <ion-item lines="none">
        <ion-label>Wallet</ion-label>
        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Shipping Address</ion-label>
        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Redeem invite code</ion-label>
        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Questions & Answers</ion-label>
        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
      </ion-item>
    </ion-item-group>
  </ion-card>

  <ion-card>
    <ion-item-group>
      <ion-item lines="none">
        <ion-label>Settings</ion-label>
        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>App Suggestion</ion-label>
        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Help Center</ion-label>
        <ion-icon name="arrow-forward" size="small" slot="end"></ion-icon>
      </ion-item>
    </ion-item-group>
  </ion-card>
</ion-content>