<!-- Header -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <!-- Title of the app -->
    <ion-title>Rate Student</ion-title>

    <!-- Cart Button Option -->
    <!-- <ion-buttons slot="end">
      <ion-button color="white" (click)="gotoCartPage()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content  class="ion-padding std-from" id="home" fullscreen>
  
  <ion-list lines="none">

    <ion-item class="clear">
      <ngx-rating [(ngModel)]="rating" (ngModelChange)="change_callback($event)"></ngx-rating>
    </ion-item>

    <ion-item class="textarea">
      <ion-textarea rows="5" [(ngModel)]="message" placeholder="Start Typing Here..." name="message"></ion-textarea>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer class="ion-no-border std-from">
  <ion-list lines="none">  
    <ion-button expand="block" (click)="submit()">Submit</ion-button>
  </ion-list>
</ion-footer>
