#signup {
    text-align: center;

    .section_one {
        height: 10%;

        h2 {
            font-weight: 900;
            padding-top: 2%;
        }

        p {
            color: var(--ion-color-color1);
            font-weight: bold;
        }
    }

    .section_second {
        height: 10%;

        h2 {
            font-size: 20px;
            // font-weight: 900;

            // padding-top: 2%;
        }

        p {
            color: var(--ion-color-color1);
            font-weight: bold;
        }
    }
    

    a.btn-social,
    .btn-social {
        border-radius: 50%;
        color: #ffffff !important;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        margin: 8px 4px;
        text-align: center;
        text-decoration: none;
        transition: background-color .3s;
        width: 35px;
    }

    .btn-facebook {
        background-color: #3b5998;
    }

    .btn-google-plus {
        background-color: #dd4b39;
    }

    .btn-instagram {
        background-color: #3f729b;
    }

    .btn-twitter {
        background-color: #55acee;
    }
}