

<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar>

      <!-- Side Menu Option -->
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>

      <!-- Title of page -->
      <ion-title>Confirm and Share</ion-title>

  </ion-toolbar>
</ion-header>


<!-- Contents -->
<ion-content class="ion-padding std-from">
  <div class="">
      <br>
      <ion-label><span class="link">Sharing Information</span></ion-label>
      <p *ngIf="tempFriendInfo.name">Name : {{ tempFriendInfo.name }}</p>
      <p *ngIf="tempFriendInfo.email">Email : {{ tempFriendInfo.email }}</p>
      <p *ngIf="tempFriendInfo.phone">Phone : {{ tempFriendInfo.phone }}</p>
      <p *ngIf="tempFriendInfo.country">Country : {{ tempFriendInfo.country }}</p>
      <p *ngIf="tempFriendInfo.state">State : {{ tempFriendInfo.state }}</p>
      <p *ngIf="tempFriendInfo.city">City : {{ tempFriendInfo.city }}</p>
      <p *ngIf="tempFriendInfo.message">Message : {{ tempFriendInfo.message }}</p>
      <br>
      <ion-label><span class="link">Reward Selected</span></ion-label>
      <p *ngIf="tempFriendInfo.message">{{ tempFriendInfo.reward }}</p>
  </div>

  <ion-list>
    <br>
    <ion-button expand="block" (click)="submit()">Submit</ion-button>
    <br><br>
  </ion-list>

</ion-content>
