<!-- Header -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <!-- Menu Option -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Title of the app -->
    <ion-title> Reward Option </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content  class="ion-padding std-from" fullscreen>
  <div class="section_one">
    <h4>Select your reward option!</h4>
    <p *ngIf="reward==''">You can select your reward preference from down below</p>
    <p *ngIf="reward!=''">
      <b>Your Selected Reward: {{ reward }}</b>
    </p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let brand of brandData; let i = index;">
        <ion-img class="box" src="{{brand.image_url}}" (click)="selectedBrand(brand);"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-padding std-from">
  <ion-list>
    <ion-button expand="block" (click)="confirmInfo()">Confirm Information</ion-button>
  </ion-list>
</ion-footer>
