.box {
    height: 175px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
}
