<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-icon class="flaticon-close flaticon-filter"></ion-icon>
    </ion-buttons>
    <ion-title>Enter Price (In Cents)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" fullscreen>

  <form class="std-from">
    <ion-list lines="none">

      <ion-list-header>
        <ion-label>Price <sup>*</sup></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="text" [(ngModel)]="price" placeholder="Enter Price" name="price"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="dismiss()"> Submit </ion-button>

    </ion-list>
  </form>

</ion-content>
