<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="" text="" icon="arrow-back" routerDirection="root">
      </ion-back-button>
    </ion-buttons>
    <!-- Page tile -->
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main Contents -->
<ion-content id="category" class="ion-padding">
  <!-- SignIn Form -->
  <form class="std-from">
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Message</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-textarea rows="5" [(ngModel)]="message" placeholder="Start Typing Here..." name="message"></ion-textarea>
      </ion-item>
      <br>
      <ion-button expand="block" (click)="submit()"> Submit</ion-button>
      <br>
      <br>
    </ion-list>
  </form>
</ion-content>
