<!-- Header -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <!-- Menu Option -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- Title of the app -->
    <ion-title> Help your friend</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content  class="ion-padding std-from" fullscreen>
  <!-- getFromDraft() -->

  <div class="section_one">
    <p >Who do you want to help today?  <br>
           Provide your friend's email/phone number and their city/State/Country location where your friend is currently living.</p>
    <ion-label *ngIf="tempFriendInfo.name != ''">Having data in draft, <span class="link" (click)="getFromDraft()">saved draft</span>.</ion-label>
  </div>


  <ion-list lines="none">
    <!-- Friend's Name -->
    <!-- <ion-list-header>
      <ion-label>Name<sup>*</sup></ion-label>
    </ion-list-header> -->
    <ion-item class="">
      <ion-input type="text" placeholder="Name" name="name" [(ngModel)]="name"></ion-input>
    </ion-item>


    <!-- Friend's email address -->
    <!-- <ion-list-header>
      <ion-label>Email<sup>*</sup></ion-label>
    </ion-list-header> -->
    <ion-item class="">
      <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>


    <!-- Friend's phone number with area code -->
    <!-- <ion-list-header>
      <ion-label>Phone Number<sup>*</sup></ion-label>
    </ion-list-header> -->
    <ion-item class="">
      <ion-input type="number" placeholder="Phone" name="phone" [(ngModel)]="phone"></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-input type="text" placeholder="School" name="school" [(ngModel)]="school"></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-input type="text" placeholder="Grade" name="grade" [(ngModel)]="grade"></ion-input>
    </ion-item>

    <!-- Country -->
    <!-- <ion-list-header>
      <ion-label>Country<sup>*</sup></ion-label>
    </ion-list-header> -->
    <ion-item class="">
      <ion-input type="text" placeholder="Country" name="country" [(ngModel)]="country"></ion-input>
    </ion-item>

    <!-- State -->
    <!-- <ion-list-header>
      <ion-label>State<sup>*</sup></ion-label>
    </ion-list-header> -->
    <ion-item class="">
      <ion-input type="text" placeholder="State" name="state" [(ngModel)]="state"></ion-input>
    </ion-item>

    <!-- city -->
    <!-- <ion-list-header>
      <ion-label>City<sup>*</sup></ion-label>
    </ion-list-header> -->
    <ion-item class="">
      <ion-input type="text" placeholder="City" name="city" [(ngModel)]="city"></ion-input>
    </ion-item>

    <ion-button class="btn-top" expand="block" (click)="share('notready')">
      <ion-text><strong>Not Ready to share</strong></ion-text>
    </ion-button>

    <ion-button expand="block" (click)="share('ready')">
      <ion-text><strong>Ok, I am ready to share</strong></ion-text>
    </ion-button>

    <br><br>
  </ion-list>

</ion-content>