/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.search-popup .modal-wrapper {
    height: calc(100% - 100px);
    width: calc(100% - 50px);
    border-radius: 12px;
}

:root {
    --publicSanssemibold: public_sanssemibold;
    --publicSansmedium: public_sansmedium;
    --orange: #fb3b15;
    --black: #000000;
    --white: #fff;
    --danger: #db3a31;
    --pragraph: #555555;
    --blue: #0060d3;
    --rating: #feb902;
    --category: #f0f0f0;
    --catcolor: #4e4e4e;
    --success: #40b114;
    --lightgrey: #f1f1f1;
    --textgrey: #b3b6bf;
    --textgreydark: #949fb6;
    --fieldBorder: #eef0f6;
    --contentbg: #f7f8fa;
    --yellow:  #ffc409;
    --th-black:  #231f20;
    --th-green:  #477B72;
    --th-green-lt:  #b5d1cd;
    --th-yellow:  #FED06B;
    --th-pink:  #FF738F;
}
.mapboxgl-ctrl-bottom-right {
    right: 0;
    bottom: 190px;
}
.location-search-popup{
    left: 15px;
    right: 15px;
    top: 55px;
}
// .hospital-slider{
//     position: fixed;
//     bottom: 0px;
//     left: 0;
//     right: 0;
//     z-index: 100;
//     .swiper-wrapper{
//         ion-slide{
//             ion-item{
//                 width: 100%;
//                 ion-avatar{
//                     width: 50px;
//                     height: 50px;
//                     margin: 0;
//                     img{
//                         width: 50px;
//                         height: 50px;
//                     }
//                     span{
//                         text-transform: uppercase;
//                         font-size: 18px;
//                         display: block;
//                         height: 100%;
//                         padding-top: 14px;
//                         text-align: center;
//                         font-weight: 600;
//                         color: var(--th-green);
//                         background: var(--th-green-lt);
//                         border-radius: 100%;
//                     }
//                 }
//                 ion-label{
//                     padding-left: 15px;
//                     h2{
//                         text-transform: capitalize;
//                         font-weight: 500;
//                         font-size: 16px;
//                     }
//                     h3{
//                         font-size: 14px;
//                         text-transform: capitalize;
//                         font-weight: 400;
//                     }
//                     p{
//                         text-transform: lowercase;
//                         font-size: 12px;
//                     }
//                 }
//                 ion-button{
//                     --background: var(--th-black);
//                     --background-activated: var(--th-black);
//                     --background-hover: var(--th-black);
//                     --background-focused: var(--th-black);
//                     --color: var(--white);
//                     --box-shadow: none;
//                 }
//             }
//         }
//     }
// }
ion-header{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    --ion-font-family: 'Poppins', sans-serif;
    ion-toolbar{
        ion-title, ion-menu-button, ion-back-button {
            --color: var(--white);
        }
        --background: var(--ion-color-primary);
    }
    &::after{
        display: none;
    }
    &.search{
        position: absolute;
        ion-toolbar{
            --background: var(--white);
            box-shadow: 0 0 2px rgb(0 0 0 / 30%);
            margin: 6px 15px;
            width: calc(100% - 30px);
            border-radius: 45px;
            --min-height: 48px;
            --padding-start: 5px;
            --padding-end: 5px;
            ion-searchbar{
                .searchbar-input-container{
                    ion-icon{
                        display: none !important;
                    }
                    input{
                        padding-inline-start: 0;
                        padding-inline-end: 0;
                        box-shadow: none;
                    }
                }
            }
            ion-button{
                --background: transparent;
                --background-activated: transparent;
                --background-hover: transparent;
                --background-focused: transparent;
                --color: var(--th-black);
                --box-shadow: none;
            }
            ion-icon{
                font-size: 22px;
                color: var(--th-green-lt);
            }
        }
    }
}
.dashboard{
    ion-header{
        background: var(--th-yellow);
        min-height: 120px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 80px;
    }
}
ion-list.side-menu{
    --ion-font-family: 'Poppins', sans-serif;
    ion-header{
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 300;
        text-align: left;
        padding: 10px 18px;
    }
    ion-item{
        &.bottom{
            // border-top: 1px solid var(--th-green-lt);
            min-height: 65px;
            margin-top: 20px;
        }
        &.header{
            border-bottom: 1px solid var(--th-green-lt);
            min-height: 65px;
            margin-bottom: 20px;
            ion-avatar{
                span{
                    text-transform: uppercase;
                    font-size: 16px;
                    display: block;
                    height: 100%;
                    padding-top: 10px;
                    text-align: center;
                    font-weight: 600;
                    color: var(--th-green);
                    background: var(--th-green-lt);
                    border-radius: 100%;
                }
            }
            ion-label{
                padding-left: 10px;
                span{
                    display: block;
                    &.name{
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                    &.email{
                        font-weight: 300;
                        font-size: 14px;
                        margin-top: 5px;
                        text-transform: lowercase;
                    }
                }
            }
            ion-icon{
                color: var(--th-green);
            }
        }
        &:not(.header){
            ion-label{
                font-size: 14px;
                font-weight: 600;
                color: var(--th-black);
            }
            ion-icon{
                font-size: 20px;
                color: var(--th-green-lt);
            }
        }
    }
}
.half-popup{
    .modal-wrapper {
        height: 60%;
        top: 40%;
        position: absolute; 
        display: block;  
    }
}
.section_one {
    text-align: center;
}
.auth-page{
    --ion-font-family: 'Poppins';
    .header{
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        background: var(--ion-color-primary); // var(--th-green);
        padding: 65px 60px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 10%;
        position: relative;
        margin-bottom: 30px;
        h2{
            margin: 0;
            color: var(--white);
            span{
                font-weight: 300;
                display: block;
                color: var(--th-green-lt);
            }
        }
        h3{
            margin: 0;
            text-transform: uppercase;
            color: var(--white);
            font-weight: 300;
            margin-top: 16px;
            font-size: 18px;
        }
        img{
            position: absolute;
            right: -25px;
            bottom: -40px;
            width: 40%;
        }
    }
    &.dashboard{
        .header{
            padding: 40px;
            margin: -60px 30px;
            position: relative;
            border-radius: 30px;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
            z-index: 28;
            margin-bottom: 20px;
            img {
                position: absolute;
                bottom: 10px;
                right: -12px;
                width: 30%;
            }
        }
    }
}

.std-from {
    --ion-font-family: 'Poppins', sans-serif;
    padding: 0 15px;
    ion-label{
        span{
            color: var(--ion-color-primary);
            // margin-left: 10px;
            // font-weight: bold;
            letter-spacing: 0.7px;
        }
    }
    ion-list{

        margin-top: 20px;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.30000001192092896px;
        color: #828282;

        ion-list-header{
            // font-weight: 500;
            text-transform: capitalize;
            min-height: 40px;
            padding-inline-start: 0;
            ion-label{
                sup{
                    // color: var(--danger);
                    color: var(--ion-color-primary)
                }
            }
            &.link{
                ion-label{
                    span{
                        color: var(--ion-color-primary);
                        // margin-left: 10px;
                        font-weight: bold;
                        letter-spacing: 0.7px;
                    }
                }
            }
        }
        ion-item{
            height: 60px;
            --background: #f5f5f5; // #f8f9fa!important;
            --highlight-color-valid: none;
            // border: 1px solid #ddd;
            border-radius: 8px;
            ion-icon{
                font-size: 22px;
                color: var(--th-green);
            }
            ion-select, ion-input{
                color: #606060 !important;
                font-weight: 100 !important;
                height: 60px;
                color: var(--th-black);
            }
            &:not(.no-full){
                ion-select{
                    min-width: 100%;
                }
            }
            &.aggreement{
                ion-label{
                    text-transform: lowercase;
                    line-height: 24px;
                    a{
                        text-transform: uppercase;
                        text-decoration: none;
                        white-space: break-spaces;
                    }
                }
            }
        }
        .error{
            font-size: 16px;
            text-align: start;
            padding: 4px 18px;
            text-transform: lowercase;
            display: block;
            small{
                color: var(--danger);
            }
        }
        ion-button{
            font-size: 16px;
            --border-radius: 8px !important;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
            --background: var(--ion-color-primary);
            color: var(--white);
            --background-activated: var(--ion-color-primary);
            --background-hover: var(--ion-color-primary);
            --background-focused: var(--ion-color-primary);
            --border-radius: 4px;
            --padding-top: 10px;
            --padding-bottom: 10px;
            --padding-start: 10px;
            --padding-end: 10px;
            height: 60px;
            --box-shadow: none;
            &.adjust-mr{
                margin-top: 80px;
            }
        }
    }
    &.submitted{
        ion-list{
            & > .ion-invalid{
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;
            }
        }
    }
}
.otp-form{
    --ion-font-family: 'Poppins', sans-serif;
    padding: 15px;
    otp{
        .otp-container{
            text-align: center;
            .otp-input{
                width: 3em;
                height: 3em;
            }
            button{
                margin: 20px;
                padding: 10px 15px;
                background: var(--th-black);
                color: var(--white);
                border-radius: 5px;
                box-shadow: none;
                font-weight: 300px;
                &:disabled{
                    background: transparent;
                    color: #000;
                    span{
                        font-weight: 600px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    ion-button{
        --background: var(--th-black);
        color: var(--white);
        --background-activated: var(--th-black);
        --background-hover: var(--th-black);
        --background-focused: var(--th-black);
        --border-radius: 4px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-start: 10px;
        --padding-end: 10px;
        height: 48px;
        --box-shadow: none;
        &.adjust-mr{
            margin-top: 80px;
        }
    }
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}