<!-- Header -->
<ion-header fullscreen>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="" text="" icon="arrow-back" routerLink="/landing"
        routerDirection="root">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content class="ion-no-padding auth-page" fullscreen>

  <div class="header">
    <h2>Campus Anonymous!</h2>
    <h3>Forgot Password?</h3>
  </div>
  <!-- <div class="section_two ion-padding">
    <img src="assets/images/forgot-password.png" width="70%" />
  </div> -->

  <!-- Forget Password Form -->
  <form class="std-from">
    <ion-list lines="none">
      <!-- Phone Number -->
      <ion-list-header>
        <ion-label>Phone Number<sup>*</sup></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="number" [(ngModel)]="phone" placeholder="Phone Number" name="phone"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="sendOtp()"> Send OTP </ion-button>

      <ion-list-header class="link ion-text-center" routerLink="/landing">
        <ion-label>Don't have an account? <span>Register</span></ion-label>
      </ion-list-header>
    </ion-list>
  </form>
</ion-content>
