<!-- Header -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <!-- Menu Option -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Title of the app -->
    <ion-title>Search Result</ion-title>

  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content class="ion-padding std-from" id="home" fullscreen>

  <p *ngIf="searchResultFound">We found the details of your child.<br>
  Shared the details via sms.</p>

  <p *ngIf="!searchResultFound">We didn't find any detail of your child.</p>
  <!-- <ion-list lines="none">
    <ion-item class="">

    </ion-item>
  </ion-list> -->
  <ion-button *ngIf="searchResultFound" expand="block" (click)="openReview()">Rate Student</ion-button>

</ion-content>
